{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Hello, World!</h1>
        <a class="btn btn-lg btn-danger" href="{{ youTubeChannel }}" role="button">Перейти на YouTube</a>
    </div>
{% endblock %}