{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        {% if session().hasFlash('errors') %}
            <div class="alert alert-danger">
                {% for error in session().getFlash('errors') %}
                    <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="/login">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                        aria-describedby="emailHelp"
                        value="slavamarchkov@gmail.com"
                        required
                >
                <div id="emailHelp" class="form-text">Введите email.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                        aria-describedby="passwordHelp"
                        value="slavamarchkov@gmail.com"
                        required
                >
                <div id="passwordHelp" class="form-text">Введите пароль.</div>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
{% endblock %}